
.ncontainer{
    width: 100%;
}
.canvasbody{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mangroup{
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}