.DS_Store
./projects/1/*
./projects/2/*
./projects/3/*
./projects/4/*
./projects/6/*
./projects/7/*
./projects/8/*
./projects/9/*
./projects/10/*
./projects/11/*
./projects/12/*
./projects/13/*
./projects/14/*
./projects/15/*
