.main-app {
  text-align: center;
  margin: 50px;
}

label{
  font-weight: bold;
}

input{
  margin: 10px;
}

.buyStarCoinBtn{
  margin-left: 20px;
}

.cta-button {
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  padding: 15px;
  min-width: 250px;
}

.connect-wallet-button {
  background: rgb(32, 129, 226);
}

.survive-button {
  /* padding: 15px;
  min-width: 100px; */
  margin: 20px;
  background: orange;
}

.box{
	margin:0 auto;border:0px solid #000;width: 502px;
}

.item{
	width: 500px;
	display: flex;
	justify-content: space-around;
}
.item>div{
	width: 44px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	background-color: lightblue;
	border-radius: 50px;
	margin-left: 5px;
	margin-top: 5px;
}
div.first{
	width: 66px;
}
.onchart{
	background-color: yellow !important;
}

